%table
  %thead
    %tr
      %th Name
      %th Instructor
      %th Price
  %tbody
    - @courses.each do |course|
      %tr
        %td
          %a{href: course_path(course.id)}= course.name
        %td= course.instructor
        %td= course.price
    