<!DOCTYPE html>
<html>
<head>
  <title>DanceSchool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= yield %>
  
  <%= javascript_include_tag "application" %>
  <!-- Refactor this out later -->
  <script>
    $('.back').on('click',function(){
      history.back()
    });
  </script>

</body>
</html>
